<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Asteroid_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,422},{157,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,160}}</string>
                <key>sourceSize</key>
                <string>{157,160}</string>
            </dict>
            <key>Asteroid_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{153,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,169}}</string>
                <key>sourceSize</key>
                <string>{153,169}</string>
            </dict>
            <key>Asteroid_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,258},{151,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,142}}</string>
                <key>sourceSize</key>
                <string>{151,142}</string>
            </dict>
            <key>Asteroid_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,90},{205,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,166}}</string>
                <key>sourceSize</key>
                <string>{205,166}</string>
            </dict>
            <key>Asteroid_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{121,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,196}}</string>
                <key>sourceSize</key>
                <string>{121,196}</string>
            </dict>
            <key>Asteroid_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,109}}</string>
                <key>sourceSize</key>
                <string>{270,109}</string>
            </dict>
            <key>Asteroid_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{216,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,86}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Asteroid_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{180,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,114}}</string>
                <key>sourceSize</key>
                <string>{180,114}</string>
            </dict>
            <key>Asteroid_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,258},{178,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,162}}</string>
                <key>sourceSize</key>
                <string>{178,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Asteroids_ImgData.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22eebd9ce91c20d183133641293fc7c9:1/1$</string>
            <key>textureFileName</key>
            <string>Asteroids_ImgData.png</string>
        </dict>
    </dict>
</plist>
