<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_debug_dn.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,204}}</string>
                <key>sourceSize</key>
                <string>{200,204}</string>
            </dict>
            <key>btn_debug_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,204}}</string>
                <key>sourceSize</key>
                <string>{200,204}</string>
            </dict>
            <key>btn_exit_dn.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,778},{132,116}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{132,116}}</string>
                <key>sourceSize</key>
                <string>{146,130}</string>
            </dict>
            <key>btn_exit_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,660},{132,116}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{132,116}}</string>
                <key>sourceSize</key>
                <string>{146,130}</string>
            </dict>
            <key>btn_jump_dn.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,896},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>btn_jump_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,699},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>btn_left_dn.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,836},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>btn_left_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,699},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>btn_next_dn.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,208},{190,146}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{190,146}}</string>
                <key>sourceSize</key>
                <string>{200,166}</string>
            </dict>
            <key>btn_next_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{190,146}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{190,146}}</string>
                <key>sourceSize</key>
                <string>{200,166}</string>
            </dict>
            <key>btn_right_dn.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,556},{140,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,141}}</string>
                <key>sourceSize</key>
                <string>{140,141}</string>
            </dict>
            <key>btn_right_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{140,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,141}}</string>
                <key>sourceSize</key>
                <string>{140,141}</string>
            </dict>
            <key>btn_track_dn.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,535},{150,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,123}}</string>
                <key>sourceSize</key>
                <string>{150,123}</string>
            </dict>
            <key>btn_track_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,410},{150,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,123}}</string>
                <key>sourceSize</key>
                <string>{150,123}</string>
            </dict>
            <key>btn_zoom_in_dn.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,356},{154,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{154,198}}</string>
                <key>sourceSize</key>
                <string>{154,200}</string>
            </dict>
            <key>btn_zoom_in_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{154,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{154,198}}</string>
                <key>sourceSize</key>
                <string>{154,200}</string>
            </dict>
            <key>btn_zoom_out_dn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{118,200}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,200}}</string>
                <key>sourceSize</key>
                <string>{124,200}</string>
            </dict>
            <key>btn_zoom_out_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,208},{118,200}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,200}}</string>
                <key>sourceSize</key>
                <string>{124,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f2466b351bb121095fcc298a3d38355:6e77b4f2b8167a02c64f5e44d66ca5e0:45890900fd32b7ad8de5c64a8d953704$</string>
            <key>textureFileName</key>
            <string>buttons.png</string>
        </dict>
    </dict>
</plist>
