<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{132,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,133}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>ship_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{132,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,79}}</string>
                <key>sourceSize</key>
                <string>{132,79}</string>
            </dict>
            <key>ship_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{132,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,93}}</string>
                <key>sourceSize</key>
                <string>{132,93}</string>
            </dict>
            <key>ship_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,137},{132,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,82}}</string>
                <key>sourceSize</key>
                <string>{132,82}</string>
            </dict>
            <key>ship_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,133}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EntitySpriteImages.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:102996425dddc0db7f236d41d28154ff:1/1$</string>
            <key>textureFileName</key>
            <string>EntitySpriteImages.png</string>
        </dict>
    </dict>
</plist>
